header  img{

        width:40px;

}

.nav-bar{


    display: flex;
    align-items: center;
    gap:40px;
    list-style: none;

        

}


.header-div{

        display:flex;
        align-items: center;
        justify-content: space-between;
}



