.main-heading{
        width:100vw;
        display:flex;
        align-items: center;
        justify-content: center;
        gap:20px;
        background-color: crimson;
        padding:10px;

}


.globe-image{

        width:40px;

}

.text{

        font-family: Arial;
        font-weight: 500;
        font-size:20px;
        color:#fff;
}